MONGO_URI=mongodb://admin:admin123@localhost:27017/shop?authSource=admin
MONGO_DB_NAME=shop

MONGO_IMAGE=mongo:7
MONGO_CONTAINER_NAME=printer_store_mongo
MONGO_PORT=127.0.0.1:27017
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin123

MONGO_EXPRESS_IMAGE=mongo-express:latest
MONGO_EXPRESS_CONTAINER_NAME=printer_store_express
MONGO_EXPRESS_PORT=127.0.0.1:8081
ME_CONFIG_MONGODB_URL=mongodb://admin:admin123@mongodb:27017/
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=pass

PRODUCTS_COLLECTION=products
CATEGORIES_COLLECTION=categories
CLIENTS_COLLECTION=customers
ORDERS_COLLECTION=orders
CARTS_COLLECTION=carts

PRODUCT_NAME_FIELD=name
PRODUCT_CATEGORY_FIELD=categoryId
PRODUCT_PRICE_FIELD=price
PRODUCT_QUANTITY_FIELD=quantity
PRODUCT_MANUFACTURER_FIELD=manufacturer
PRODUCT_CHARACTERISTICS_FIELD=characteristics
PRODUCT_TECHNOLOGY_FIELD=technology
PRODUCT_PAPER_FORMAT_FIELD=paperFormat
PRODUCT_COLORS_FIELD=colors

CATEGORY_NAME_FIELD=name
CLIENT_NAME_FIELD=firstName
CLIENT_LAST_NAME_FIELD=lastName
CLIENT_EMAIL_FIELD=email

ORDER_CUSTOMER_FIELD=customerId
ORDER_PRODUCTS_FIELD=products
ORDER_TOTAL_FIELD=totalPrice
ORDER_STATUS_FIELD=status
ORDER_DATE_FIELD=orderDate
ORDER_EMPLOYEE_FIELD=employeeId
ORDER_EMPLOYEE_REQUIRED_FIELD=employeeId
ORDER_DELIVERY_ADDRESS_FIELD=deliveryAddress
DEFAULT_EMPLOYEE_ID=665000000000000000000301
DEFAULT_DELIVERY_ADDRESS=Moscow, Stromynka st., 20
